[Unit]
Description=Sudoku server
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/usr/bin
Type=forking
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/sudoku
PIDFile=/run/sudoku.pid

[Install]
WantedBy=multi-user.target